<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bugs.mapper.MoviesMapper">
    <resultMap id="moviesMap" type="com.bugs.entity.Movies">
        <id column="movie_id" property="movieId"/>
        <result column="movie_img" property="movieImg"/>
        <result column="movie_name" property="movieName"/>
        <result column="movie_url" property="movieUrl"/>
        <result column="movie_info" property="movieInfo"/>
    </resultMap>
    <select id="sendListByPage" resultMap="moviesMap" parameterType="INT">
        select * from movies limit #{startNumber},24;
    </select>
    <select id="sendByUrl" parameterType="String" resultMap="moviesMap">
        select * from movies where movie_url=#{url};
    </select>

    <select id="sendAll" resultMap="moviesMap">
        select * from movies;
    </select>

    <delete id="deleteMovie" parameterType="String">
        delete from movies where movie_url=#{movieUrl}
    </delete>

    <insert id="insertMovie">
        insert into movies values(#{movieId},#{movieImg},#{movieName},#{movieUrl},#{movieInfo})
    </insert>

    <select id="sendByName" parameterType="String" resultMap="moviesMap">
        select * from movies where movie_name like '%' #{seachName} '%'
    </select>
</mapper>