<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="../css/bg.css"/>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <script src="js/tab.js"></script>
    <title>收藏</title>
</head>
<body>
<div class="col-sm-12 bg">
    <h2>收藏信息<small>翻页展示</small></h2>
    <a href="/user/index">返回首页</a>
    <div class="row">
        <div class="col-sm-1 col-md-2" th:each="movie:${movies}">
            <div class="thumbnail">
                <img th:src="${movie.movieImg}" alt="...">
                <div class="caption">
                    <h5 th:text="${movie.movieName}">Thumbnail label</h5>
                    <p th:text="${movie.movieInfo}">简介</p>
                    <p>
                    <form action="display" method="post" style="display: inline-block">
                        <input name="page" type="text" th:value="${page}" hidden/>
                        <input name="movieName" type="text" hidden th:value="${movie.movieName}">
                        <input name="url" type="text" value="url" hidden th:value="${movie.movieUrl}">
                        <button type="submit" class="btn btn-primary" role="button">播放</button>
                    </form>
                    <form action="deleteCollection" method="post" style="display: inline-block">
                        <input name="url" type="text" th:value="${movie.movieUrl}" hidden/>
                        <input name="page" type="text" th:value="${page}" hidden/>
                        <button type="submit" class="btn btn-primary" role="button">取消收藏</button>
                    </form>
                    </p>
                </div>
            </div>
        </div>

    </div>


    <!--分页-->
    <div class="col-sm-5"></div>
    <nav aria-label="Page navigation" class="col-sm-6">
        <ul class="pagination">
            <li>
                <a th:href="@{'/user/sendCollection?page='+${page-1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <form action="/user/sendCollection" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" th:placeholder="${page}">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </li>
            <li>
                <a th:href="@{'/user/sendCollection?page='+${page+1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</div>
</body>
</html>